# Virtual environments
.venv/
venv/
ENV/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# SQLite database
# Ignora la mayoría de archivos .db, pero permitir el archivo de demo `test.db`
*.db
!/test.db

# Editor/IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
